.header-main-page {
	$self: &;
	width: 100%;
	background: transparent;
	z-index: 4;
	top: 0px;
	height: 90px;
	position: fixed;
	transition: all ease-out 0.4s;
	overflow: hidden;
	&__wrap {
		max-width: #{$container};
		max-width: var(--container);
		margin: auto;
		display: flex;
		justify-content: space-between;
		transition: all ease-out 0.4s;
		position: relative;
		margin-top: -90px;
		padding: {
			left: -15px;
			right: -15px;
		}
		& > div {
			// margin: 0px 15px;
			transition: all ease-out 0.4s;
		}
	}
	#{$self}__bars {
		display: flex;
		align-items: center;
		justify-content: end;
		font-size: 35px;
		padding: 0px 30px;
		color: #{$header-primary-inversion};
		color: var(--header-primary-inversion);
		transform: scale(1);
		height: 90px;
		outline: none;
		cursor: pointer;
		&:hover {
			background: $header-secondary-hover;
			background: var(--header-secondary-hover);
		}
	}

	&__logo {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		overflow: hidden;
		// display: none;
		transition: all ease-out 0.4s;
		position: relative;
		a {
			display: block;
			// height: 60px;
			&:hover {
				fill: lighten($color: $color_main, $amount: 5);
			}
		}
		svg {
			pointer-events: none;
			max-height: 60px;
			width: 100%;
			fill: #{$header-primary-inversion};
			fill: var(--header-primary-inversion);
			transition: all 0.2s;
		}
	}
	.mainnav {
		height: 90px;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			width: 100%;
			li {
				flex: 0 0 auto;
				a {
					color: $nav-color;
					color: var(--nav-color);
					font-size: 20px;
					font-weight: 500;
					margin: 0px 10px;
					padding: 35px 15px;
					line-height: 1;
					display: block;
					text-decoration: none;
					transition: all ease-out 0.1s;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}


	.mainnav ul.scroll {
		justify-content: flex-start;
		overflow-x: auto;
		justify-content: flex-start;
	}
	// @media screen and (max-width: 900px) {
	// 	background: #{$header-primary};
	// 	background: var(--header-primary);
	// 	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	// 	#{$self}__wrap {
	// 		margin-top: 0px;
	// 	}
	// 	.mainnav {
	// 		transform: translateY(-100%);
	// 		left: 0px;
	// 		margin: 0;
	// 		opacity: 0;
	// 		visibility: hidden;
	// 		width: 100%;
	// 		ul {
	// 			right: 0;
	// 			overflow-y: auto;
	// 			margin: auto;
	// 			max-width: #{$container};
	// 			max-width: var(--container);
	// 			justify-content: center;
	// 			align-items: flex-start;
	// 			flex-wrap: wrap;
	// 			// flex-direction: column;
	// 			position: relative;
	// 			li {
	// 				a {
	// 					padding: 15px 15px;
	// 					color: $nav-color;
	// 					color: var(--nav-color);
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	&.fixed {
		background: #{$header-primary};
		background: var(--header-primary);
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
		#{$self}__wrap {
			margin-top: 0px;
		}

		.mainnav {
			transform: translateY(-100%);
			left: 0px;
			margin: 0;
			opacity: 0;
			visibility: hidden;
			width: 100%;
			ul {
				right: 0;
				overflow-y: auto;
				margin: auto;
				max-width: #{$container};
				max-width: var(--container);
				justify-content: center;
				align-items: flex-start;
				flex-wrap: wrap;
				// flex-direction: column;
				position: relative;
				li {
					a {
						padding: 15px 15px;
						color: $nav-color;
						color: var(--nav-color);
						// font-size: 30px;
					}
				}
			}
		}
	}

	&.fixed.open {
		overflow: auto;
		height: auto;

		.mainnav {
			transform: translateY(0%);
			opacity: 1;
			visibility: visible;
			background: $nav-background;
			background: var(--nav-background);
			overflow: hidden;
			height: 80px;
			ul {
				justify-content: space-evenly;
				flex-wrap: nowrap;
				height: 100px;
			}
			ul.scroll {

				justify-content: flex-start;
			}
			ul > li > a {
				color: $nav-color;
				color: var(--nav-color);
				padding: 30px 15px;
				&:hover {
					opacity: 1;
					background: $nav-background-hover;
					background: var(--nav-background-hover);
				}
			}
		}
		#{$self}__bars {
			background: $nav-background;
			background: var(--nav-background);
			color: $nav-color;
			color: var(--nav-color);
			&:hover {
				background: $nav-background-hover;
				background: var(--nav-background-hover);
			}
		}
	}

	&.open {
		@media screen and (max-width: 900px) {
			overflow: auto;
			height: auto;

			.mainnav {
				transform: translateY(0%);
				opacity: 1;
				visibility: visible;
				background: $nav-background;
				background: var(--nav-background);
				ul {
					justify-content: space-evenly;
				}
				ul > li > a {
					color: $nav-color;
					color: var(--nav-color);
					padding: 30px 15px;
					&:hover {
						background: $nav-background-hover;
						background: var(--nav-background-hover);
					}
				}
			}
			#{$self}__bars {
				background: $nav-background;
				background: var(--nav-background);
				&:hover {
					background: $nav-background-hover;
					background: var(--nav-background-hover);
				}
			}
		}
	}
}

.header-logo {
	$self: &;
	width: 100%;
	background: #fff;
	z-index: 4;
	top: 0px;
	position: relative;
	transition: all ease-out 0.4s;
	&__wrap {
		max-width: #{$container};
		max-width: var(--container);
		margin: auto;
		display: flex;
		justify-content: center;
		transition: all ease-out 0.4s;
		padding: {
			left: -15px;
			right: -15px;
		}
		& > div {
			margin: 0px 15px;
			transition: all ease-out 0.4s;
		}

		position: relative;
	}
	&__logo {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: start;
		overflow: hidden;
		transition: all ease-out 0.4s;
		position: relative;
		outline: none;
		a {
			outline: none;
		}
		svg {
			pointer-events: none;
			max-height: 60px;
			width: 100%;
			.a {
				fill: transparent;
			}
			.b {
				fill: #262e58;
				transition: all 0.2s;
			}
		}
	}
}

.header {
	$self: &;
	width: 100%;
	background: #{$header-primary};
	background: var(--header-primary);
	z-index: 4;
	top: 0px;
	position: relative;
	height: 90px;
	overflow: hidden;
	transition: all ease-out 0.4s;
	&__wrap {
		max-width: #{$container};
		max-width: var(--container);
		margin: auto;
		display: flex;
		justify-content: space-between;
		transition: all ease-out 0.4s;
		padding: {
			left: -15px;
			right: -15px;
		}
		& > div {
			transition: all ease-out 0.4s;
		}

		position: relative;
	}
	&__logo {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: start;
		overflow: hidden;
		transition: all ease-out 0.4s;
		position: relative;
		outline: none;
		a {
			outline: none;
		}
		svg {
			pointer-events: none;
			max-height: 60px;
			width: 100%;
			fill: #{$header-primary-inversion};
			fill: var(--header-primary-inversion);
			transition: all 0.2s;
		}
	}
	#{$self}__bars,
	#{$self}__prew {
		display: flex;
		align-items: center;
		justify-content: end;
		font-size: 35px;
		padding: 0px 30px;
		color: #{$header-primary-inversion};
		color: var(--header-primary-inversion);
		transform: scale(1);
		height: 90px;
		outline: none;
		cursor: pointer;
		&:hover {
			text-decoration: none;
			background: #{$header-secondary-hover};
			background: var(--header-secondary-hover);
		}

		@media screen and (max-width: 500px) {
			padding: 15px 25px;
			font-size: 20px;
			// height: 70px;
		}
	}

	.mainnav {
		transform: translateY(-100%);
		left: 0px;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		ul {
			right: 0;
			overflow-y: auto;
			margin: auto;
			padding: 0;
			max-width: #{$container};
			max-width: var(--container);
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			position: relative;
			display: flex;
			list-style: none;
			li {
				a {
					padding: 30px 15px;
					color: #ffffff;
					font-size: 20px;
					font-weight: 500;
					margin: 0px 10px;
					padding: 35px 15px;
					line-height: 1;
					display: block;
					text-decoration: none;
					transition: all ease-out 0.1s;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
	&.open {
		overflow: auto;
		height: auto;
		.mainnav {
			transform: translateY(0%);
			opacity: 1;
			visibility: visible;
			background: $color_main;
			ul {
				justify-content: space-evenly;
			}
			ul > li > a {
				color: #fff;
				// padding: 30px 15px;
				&:hover {
					opacity: 1;
					background: $nav-background-hover;
					background: var(--nav-background-hover);
				}
			}
		}
		#{$self}__bars {
			background: $nav-background;
			background: var(--nav-background);
			color: #fff;
			&:hover {
				background: $nav-background-hover;
				background: var(--nav-background-hover);
			}
		}
	}

	&.open {
		// @media screen and (max-width: 900px) {
		overflow: auto;
		height: auto;
		.mainnav {
			transform: translateY(0%);
			opacity: 1;
			visibility: visible;
			background: $nav-background;
			background: var(--nav-background);
			overflow: hidden;
			height: 90px;
			ul {
				justify-content: space-evenly;
				flex-wrap: nowrap;
			}
			ul > li {
				flex: 0 0 auto;
			}
			ul > li > a {
				color: $nav-color;
				color: var(--nav-color);
				&:hover {
					opacity: 1;
					background: $nav-background-hover;
					background: var(--nav-background-hover);
				}
			}
		}
		.mainnav ul.scroll {
			justify-content: flex-start;
		}
		#{$self}__bars {
			background: $nav-background;
			background: var(--nav-background);
			&:hover {
				background: $nav-background-hover;
				background: var(--nav-background-hover);
			}
		}
	}

	&.fixed {
		position: fixed;
		top: 0;
		transform: translateY(-90px);
		transition: none;

	}
	&.fixed.show {
		transform: translateY(0%);
		transition: all ease-out 0.4s;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	}
	&.show {
		transition: none;
	}
}

